*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    height: 100px;
    background-color:#0A176A;
    justify-content: space-between;
    padding: 0 40px;
    font-weight: bold;
    font-size: 18px;
    
}
.logo img{
height: 100%;

}
.nav-list{
color: white;
list-style: none;
display: flex;
align-items: center;

}
.nav-list li{
  padding-left: 3rem;
}
.nav-list li:hover{
    color: #344CE3;
    text-decoration: underline;
    cursor: pointer;
}
