*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    height: 100px;
    background-color:#041945;
    justify-content: space-between;
    padding: 0 40px;
    font-weight: bold;
    font-size: 18px;
    
}
.logo img{
height: 100%;

}
.nav-list{
color: white;
list-style: none;
display: flex;
align-items: center;

}
.nav-list li{
  padding-left: 3rem;
}
.nav-list li:hover{
    color: #344CE3;
    text-decoration: underline;
    cursor: pointer;
}
/* banner section */
.banner{
    background-image: url(images/banner/mathias-tonnesson-GwPKJQUU1Dw-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    opacity: 0.9;

}
.content{
   font-size: 40px;
   color:white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-weight: bold;
   align-items: center; 
  
}
.banner p{
    font-size: 20px;
}

/* about section */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    flex-direction: column;
   

}
.about p{
    max-width: 500px;
    font-family: 'Playball',sans-serif;
    font-size: 20px;
    margin:80px;
 
    
   
}
/* drinks section */
.drinks{
    height: 1200px;
    background-color:#041945;
}
.drinks h1{
    color: whitesmoke;
    text-align: center;
   padding: 50px 0 30px 0;
}
.drinks-container{

    display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.cocktails img{
    width: 400px;
    height: 300px;
    margin: 30px;
    border-radius: 10px;
   
}
.cocktails{
    width: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.cocktails p{
    max-width: 300px;
    line-height:1.5;
    text-align: center;
}
.cocktails h3{
   margin-bottom: 15px;
  
}
