*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
}
body{
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
ul, ul a {
    text-decoration: none;
    list-style: none;
    color: unset;
}
.header{
    display: flex;
    height: 100px;
    background-color:#041945;
    justify-content: space-between;
    padding: 0 2rem;
    font-weight: bold;
    font-size: 18px;
    
}
.logo img{
height: 100%;

}
.nav-list{
color: white;
list-style: none;
display: flex;
align-items: center;

}
.nav-list li{
  padding-left: 3rem;
}
.nav-list li:hover{
    color: #344CE3;
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 576px) {  
    .nav-list{
        display: none;
    }
}
/* banner section */
.banner{
    background-image: url(images/banner/mathias-tonnesson-GwPKJQUU1Dw-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    opacity: 0.9;
   

}
.content{
   color:white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-weight: bold;
   align-items: center; 
   max-width:800px;
   text-align: center;
  
}
.banner h1{
    font-size:clamp(2rem, 5vw, 4rem);
    padding-bottom: 0.5rem;
}
.banner p{
    font-size:clamp(0.8rem,2vw, 1.2rem);
}

/* about section */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    flex-direction: column;
   

}
.about p{
    max-width: 600px;
    font-family: 'Playball',sans-serif;
    font-size: 1.5rem;
    margin:3rem;
    text-align: justify;  
   
}
/* drinks section */
.drinks{
   
    background-color:#041945;
}
.drinks h1{
    color: whitesmoke;
    text-align: center;
  padding: 1em;
   font-size:clamp(2rem, 3vw, 4rem);
}
.drinks-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.cocktails img{
    width: 100%;
padding:1rem 2rem;
    height: 100%;
   
   
}
.cocktails{
    max-width: 400px;
    height: 450px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;

}
.cocktails p{
    max-width: 300px;
    line-height:1.5;
    text-align:justify;
}
.cocktails h3{
   margin-bottom: 1rem;
  
}
/* Featured-products section */
.bottle-container{
    display: flex;
    justify-content: center;
    gap: 4em;
    flex-wrap: wrap;

   
}
.featured-products h1{
    text-align: center;
   padding: 2rem;
 
}
.featured-products h2{
    text-align: center;
    padding: 1rem;
}
.featured-products p{
    font-size:clamp(0.8rem,2vw, 1.2rem);
    text-align: justify;
   
}
.bottle{
   width:350px;
    height: 520px;
    margin-bottom: 4rem;
    padding:1em;

}
.bottle img{
    width: 100%;
    height: 100%;
}
/* footer*/
.footer{
    height: 4rem;
    background-color: #041945;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    align-items: center;
}


